/*Import Google Fonts for use on the site*/
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Playfair+Display:700|Raleway&display=swap');

/*Set the CSS variables for use in the project*/
:root{
    --Playfair: 'Playfair Display', serif;
    --Raleway: 'Raleway', sans-serif;
    --RockSalt: 'Rock Salt', cursive;
    --Blue: #111f4d;
    --White: #f2f4f7;
    --Orange: #e43a19;
    --Black: #020205;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--Playfair);
    font-weight: 700;
}

p, a, small{
    font-family: var(--Raleway);
}

/* CSS Mini Reset */

html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{
    font-size: 100%;
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    text-align: left;
    vertical-align: top;
}

img
{
    border: 0;
}